
.code-repl-editor[data-v-3d97a55a] {
  position: relative;
}
.code-repl-editor[data-v-3d97a55a] div[class*="language-"] pre {
  scrollbar-width: none;
}
.code-repl-editor[data-v-3d97a55a]:hover .copy-code-button {
  opacity: 1;
}
.code-repl-input[data-v-3d97a55a] {
  position: absolute;
  top: 0;
  right: -1.5rem;
  bottom: 0;
  left: -1.5rem;
  z-index: 1;
  box-sizing: border-box;
  display: block;
  padding: 20px 24px;
  overflow-x: auto;
  font-family: var(--vp-font-family-mono);
  font-size: var(--vp-code-font-size);
  -webkit-hyphens: none;
  hyphens: none;
  line-height: var(--vp-code-line-height);
  color: transparent;
  text-align: left;
  word-break: normal;
  word-wrap: normal;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  white-space: pre;
  caret-color: gray;
  resize: none;
  background-color: transparent;
  word-spacing: normal;

  direction: ltr;
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  scrollbar-width: thin;
}
@media (min-width: 640px) {
.code-repl-input[data-v-3d97a55a] {
    right: 0;
    left: 0;
}
}
[data-v-3d97a55a] div[class*="language-"].line-numbers-mode + .code-repl-input {
  padding-left: 24px;
  margin-left: 32px;
}

